# Ativar mecanismo de reescrita
RewriteEngine On

# Se não for um arquivo execute as regras
RewriteCond %{REQUEST_FILENAME} !-f

# Se não for um diretório, execute as regras
RewriteCond %{REQUEST_FILENAME} !-d

# Redirecione para index.php se você atender às condições acima
RewriteRule ^(.*)$ index.php?pg=$1 [QSA,L]